@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infoBox {
  width: 50%;
  height: calc(100vh - 88px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(247, 248, 250, 0.5);
}

.bannerImage {
  width: 508px;
  height: 315px;
}

.primaryText {
  width: 400px;
  height: 124px;
  margin-bottom: 40px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.02em;

  color: #1e272e;
}

.secondaryText {
  width: 319px;
  height: 36px;
  margin-bottom: 40px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;

  color: #566474;
}

.uploadBox {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadForm {
  width: 498px;

  border: 1px solid #dfe0e0;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px 63px;
}

.uploadImage {
  width: 107px;
  height: 107px;
  margin-bottom: 8.11%;
}

.uploadInfo {
  width: 192px;
  height: 42px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #566474;
}

.uploadWrapper {
  width: 100%;
}

.uploadBtn {
  margin-top: 8.11%;
  margin-bottom: 5.44%;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;

  color: #566474;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #566474;

  &:hover {
    cursor: pointer;
  }
}

.submitBtn {
  margin-top: 8.11%;
  margin-bottom: 5.44%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;

  color: #ffffff;
  background: #142683;
  // color: #566474;
  border-radius: 5px;
  // border: 1px solid #566474;

  &:hover {
    cursor: pointer;
  }
}

.imageItem {
  display: flex;
  margin: 10px 0;
}

.imageItemBtnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

button {
  height: 40px;
  margin-bottom: 5px;
}
