@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.apiCard {
  display: flex;
  flex-direction: column;
}

.apiAvatar {
  // width: 274px;
  height: 156px;
}

.apiTitle {
  display: flex;
  justify-content: space-between;
}

.primaryText {
  width: 224px;
  min-height: 31px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
  word-break: break-word;

  display: flex;
  padding-top: 10%;
  margin-left: 1%;
  padding-bottom: 4%;
  color: #1e272e;
}

.secondaryText {
  display: flex;
  width: 291px;
  // min-height: 42px;
  margin-left: 1%;
  word-break: break-word;

  color: #566474;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.editBtn {
  display: flex;
  align-items: center;
  width: 20px;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}